body {
    font-family: 'Roboto','Times New Roman';font-size: 22px;
    margin:auto;
}
header{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:rgba(64,140,153,1);
	color:#ffffff;
}

h1 {
    display:inline;
    font-size: 1.5em;
}

#mainContent{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
    width:90%;
    margin:auto;

}

form {
    margin:auto;
    display: flex;
    width:70%;
	flex-direction: column; 
	justify-content: center;
	align-items:center;
}


input {
    width:70%;
	text-align:center;
	word-break: break-word;
}

#submitButton{
	width:150px;
}


#logo{
    max-height: 100px;
	margin: 10px;
}

#loader {
	display: none;
	height:100px;
	width:100px;
	background:  url(../img/Spinner200px.gif) no-repeat center center;
	background-position:center;
	z-index: 10000;
	margin-top:100px;
}

#question{
    width:90%;
    margin:auto;
	margin-top: 1em;
}

footer{
	position:fixed;
	left:0;
	height:80px;
	width:100%;
	background-color:rgba(64,140,153,1);
	color:#ffffff;
	bottom:0;
	display:flex;
	justify-content: center;
	align-items: center;
	
}
footer > div{
	margin:5px;
	width:auto;
	display: inline-block;
	vertical-align:middle;
	
}

#answerZone{
	display:flex;
	justify-content: space-around;
    align-items: center;
	flex-wrap:wrap;
	margin-top: 20px;
	margin-bottom: 20px;
	max-height:600px;
	padding-bottom: 80px;
	overflow:auto;
}

#answer{
	display:none;
	width:45%;
	min-width: 150px;
	font-size: 0.8em;
}

.userMessage{
	background-color: rgba(73, 73, 73, 0.15);
	text-align: left;
	margin: 10px 50px 10px 0px;
	padding:10px;
	border-radius:10px;
}

.apiResponse{
	text-align: right;
	margin: 10px 0px 10px 50px;
	padding:10px;
	background-color: rgba(75, 247, 152, 0.20);
	border-radius:10px;
	max-height:10em;
	overflow:auto;
}

#map{
	display:none;
	height:300px;
	width:45%;
	min-width:400px;
	
}




